@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    --background: #ffffff;
    --foreground: #0c0a00;
    --card: #ffffff;
    --card-foreground: #0c0a00;
    --popover: #ffffff;
    --popover-foreground: #0c0a00;
    --primary: #1b2b36;
    --primary-foreground: #f5f8fb;
    --secondary: #f5f7fa;
    --secondary-foreground: #1b2b36;
    --muted: #f5f7fa;
    --muted-foreground: #a2a6b2;
    --accent: #f5f7fa;
    --accent-foreground: #1b2b36;
    --destructive: #f26d6d;
    --destructive-foreground: #f5f8fb;
    --border: #e3e6eb;
    --input: #e3e6eb;
    --ring: #0c0a00;
    --radius: 0.5rem;
    --chart-1: #ea6766;
    --chart-2: #4d9163;
    --chart-3: #3b626a;
    --chart-4: #f7d479;
    --chart-5: #fb9e4c;
  }

  :root {
    --background: #0c0a00;
    --foreground: #f5f8fb;
    --card: #0c0a00;
    --card-foreground: #f5f8fb;
    --popover: #0c0a00;
    --popover-foreground: #f5f8fb;
    --primary: #111;
    --primary-foreground: #f5f8fb;
    --secondary: #C60000;
    --secondary-foreground: #f5f8fb;
    --muted: #212c38;
    --muted-foreground: #a3aabb;
    --accent: #212c38;
    --accent-foreground: #f5f8fb;
    --destructive: #472b2b;
    --destructive-foreground: #f5f8fb;
    --border: #f5f8fb;
    --input: #f5f8fb;
    --ring: #b2bac8;
    --radius: 0.5rem;
    --chart-1: #007ac1;
    --chart-2: #4f9c7c;
    --chart-3: #f2ab6b;
    --chart-4: #c05ec0;
    --chart-5: #f74f89;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}